site_name: LeeMakeLog
site_url: https://leemakekr.github.io/
repo_url: https://github.com/LeeMakeKR/leemakekr.github.io
repo_name: LeeMakeKR/leemakekr.github.io
site_dir: site
docs_dir: docs

nav:
  - Home: index.md
  - Projects:
      - Overview: projects/index.md
  - About: about.md

theme:
  name: material
  language: en
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.path
    - content.code.copy
    - content.action.edit
    - toc.follow
    - announce.dismiss
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - search
  - i18n:
      docs_structure: folder
      languages:
        - locale: en
          name: English
          default: true
          build: true
        - locale: ko
          name: 한국어
          build: true
          site_name: LeeMakeLog
          nav_translations:
            Home: 홈
            Projects: 프로젝트
            Overview: 개요
            About: 소개

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.tabbed

extra:
  alternate:
    - name: English
      link: /
      lang: en
    - name: 한국어
      link: /ko/
      lang: ko
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/LeeMakeKR
      name: LeeMakeKR on GitHub

watch:
  - docs
