site_name: LeeMakeLog
site_url: https://leemakekr.github.io/
repo_url: https://github.com/LeeMakeKR/leemakekr.github.io
repo_name: LeeMakeKR/leemakekr.github.io
site_dir: site
docs_dir: docs

nav:
  - 홈: index.md
  - 프로젝트: projects/index.md
  - 소개: about.md

theme:
  name: material
  language: ko
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.path
    - content.code.copy
    - announce.dismiss
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - search
  - i18n:
      docs_structure: folder
      languages:
        - locale: ko
          name: 한국어
          default: true
          build: true
        - locale: en
          name: English
          build: true
          site_name: LeeMakeLog
          nav_translations:
            홈: Home
            프로젝트: Projects
            소개: About Me

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.tabbed

extra:
  alternate:
    - name: 한국어
      link: /
      lang: ko
    - name: English
      link: /en/
      lang: en
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/LeeMakeKR
      name: LeeMakeKR on GitHub

watch:
  - docs
